{% extends "base.html" %}
{% load static %}


{% block title%}Antariksh{% endblock %}

{% block main%}
<section id="main_body">
	<div class="parent_block">
<div class="container p-3">
    <h1 class="text-white">Privacy &amp; Policy</h1>
</div>
</div>
</section>



<section id="privacy_policy">

	       <div class="container p-3">

	         <div class="row"><div class="center1 wow fadeInDown">



	         </div>

	           <div class="clearfix"></div>

	           <div class="col-md-12 col-sm-12">

	             <div class="wow fadeInDown">

	        <p>We at “<strong>Antariksh Broadband services</strong>” are committed to protect our  customers’ personal information and/or sensitive personal data and strive to  maintain the privacy of your personal information. <br>

	For your information, “Personal information” is any information that  can be used by itself to uniquely identify, contact, or locate a person, or can  be used with information available from other sources to uniquely identify an  individual. For the purpose of this policy, sensitive personal data or  information has been considered as a part of personal information.</p>

	        <p>          Antariksh does collect your personal information for a variety of  regulatory and business purposes. These include, but are not limited to: </p>

	        <ul>

	        <li>Verify your identity



	        </li>

	        <li>Complete  transactions effectively and bill for products and services</li>

	        <li>          Respond to your  request for service or assistance</li>

	        <li>          Perform market  analysis, market research, business and operational analysis</li>

	        <li>          Provide, maintain  and improve our products and services</li>

	        <li>          Anticipate and  resolve issues and concerns with our products and services</li>

	        <li>          Promote and market  our products and services which we consider may be of interest to you and may benefit  you; and</li>

	        <li>          Ensure adherence to  legal and regulatory requirements for prevention and detection of&nbsp;frauds and crimes.</li>

	        </ul>

	        <p>”<strong>Antariksh</strong>” Privacy Policy is designed and developed to address the  privacy and security of your personal information provided to us. This Privacy  Policy describes the personal information which we may collect and provides our  approach towards handling or dealing with the same. The policy is designed to  make you understand:

	        </p>

	        <ul>

	        <li>

	        kinds of personal  information that may be collected by us</li>

	        <li>

	          measures taken by us  to ensure its privacy and security

	          </li>

	        <li>duration for which  when it may be retained by us; and</li>

	        <li>            how you may access  and control its use



	        </li>

	        </ul>





	    </div>

	</div>

	             </div>

	           </div>



	           <div class="clearfix"></div>
<br>
    </section>
{% endblock %}
