{% extends "base.html" %}
{% load static %}


{% block title%}Antariksh{% endblock %}

{% block main%}
<section id="main_body">
	<div class="parent_block">
<div class="container p-3">
    <h1 class="text-white">Refund &amp; Policy</h1>
</div>
</div>
</section>



<section id="refund">


	       <div class="container p-3">

	         <div class="row"><div class="center1 wow fadeInDown">



	         </div>

	           <div class="clearfix"></div>

	           <div class="col-md-12 col-sm-12">

	             <div class="wow fadeInDown">

	        <p>If the subscriber of any plan surrenders the connection, then<br>

	The request for refund will be considered in case of “Antariksh” to  restore the connectivity due to reasons such as site out of service, due to  permission issues or other situations with similar effect.</p>

	        <p><strong>NO REFUND IS APPLICABLE IN ANY  OTHER CASES.</strong></p>

	        <p>If refund is applicable then, Plan charges corresponding to the number  of days/months of use/data transfer shall be payable/deducted from the upfront  amount received to determine refund, if any. Full month shall be counted in  case the usage is for part of the month.<br>

	          Customer needs to surrender Antariksh &nbsp;in working condition. In case of non-receipt  of CPE/CPE in non-working condition the penalty will be applicable. Service tax  shall be accounted for against the charges. Refund, if applicable will be  processed within 30 working days from the date of cancellation.</p>

	        </div>

	</div>

	             </div>

	           </div>



	           <div class="clearfix"></div>

    </section>
{% endblock %}
