{% extends "base.html" %}
{% load static %}


{% block title%}Antariksh{% endblock %}

{% block main%}
<section id="main_body">
	<div class="parent_block">
<div class="container p-3">
    <h1 class="text-white">Terms &amp; Conditions</h1>
</div>
</div>
</section>



<section id="term_and_conditions">

       <div class="container p-3">

         <div class="row"><div class="center1 wow fadeInDown">



         </div>

           <div class="clearfix"></div>

           <div class="col-md-12 col-sm-12">

             <div class="wow fadeInDown">

        <p><strong>Applicability</strong><br>These terms and conditions are applicable to all  “Antariksh “Customers. The Customer can make his/her Antariksh Bill Payments on  or before the due date as per his/ her convenience through any of the following  modes of payment:</p>

        <ol>

        <li>Credit card remittance slip</li>

        <li>Standing instructions on your credit card</li>

        <li>Electronic Clearing System for direct payment through your valid  bank account</li>

        <li> Cash - Only at exclusive Antariksh office or field executive.</li>

        <li>Electronic Modes - Internet Banking, Phone Banking.</li>

        </ol>

         <p> Crossed cheque(s), pay order(s), or draft(s) payable at National  Capital Region of Delhi made in favour of "Antariksh Account  No-xxxxxxxx". Outstation cheques shall not be accepted. Any outstation  cheque if received shall be returned to the Customer and a charge of Rs.100  (Rupees One Hundred Only) shall be levied on his/her Antariksh account in  addition to any late payment charges, if applicable.</p>

        <p><strong>Late Payment</strong><br>

          Payment of bills on time would ensure uninterrupted usage of his /her  Antariksh Broadband. The Customer is advised to make the payment by the due  date to ensure no late fee charges, as stated below, are levied on his/her Antariksh  account.</p>

        </div>

           </div>



           <div class="clearfix"></div>

         </div>

</div>

    </section>
{% endblock %}
